<body>
  <app-navbar></app-navbar>
  <div class="container marketing">
    <div class="row">
      <div class="col-lg-3 text-center">
        <h2>Employees vacations</h2>
        <p>Number of vacations applied and days spent by every employee.</p>
        <p><a class="btn btn-secondary" routerLink="/admin/summary/emp-vac">View details »</a></p>
      </div>
      <div class="col-lg-3 text-center">
        <h2>Employees delegations</h2>
        <p>Number of delegations applied and days spent by every employee.</p>
        <p><a class="btn btn-secondary" routerLink="/admin/summary/emp-deleg">View details »</a></p>
      </div>
      <div class="col-lg-3 text-center">
        <h2>Vacations dates</h2>
        <p>Most used dates for vacations and days spent then.</p>
        <p><a class="btn btn-secondary" routerLink="/admin/summary/date-vac">View details »</a></p>
      </div>
      <div class="col-lg-3 text-center">
        <h2>Delegations dates</h2>
        <p>Most used dates for delegations and days spent then.</p>
        <p><a class="btn btn-secondary" routerLink="/admin/summary/date-deleg">View details »</a></p>
      </div>
    </div>
  </div>
</body>
