<section class="login-wrapper" fxLayoutAlign="center center" fxLayout="column">
  <h2 class="mat-h2">Please login</h2>
  <form id="login-form" (ngSubmit)="onSubmit()">
    <div class="form-column" fxLayoutAlign="center center" fxLayout="row wrap"  fxFlex="250px">
      <div fxFlex="100">
        <label class="sr-only" for="inlineFormInput">Email</label>
        <div class="input-group mb-2">
          <div class="input-group-prepend">
            <div class="input-group-text">@</div>
          </div>
          <input type="text" class="form-control" id="inlineFormInputGroup" placeholder="Email" [(ngModel)]="user.username" name="email">
        </div>
      </div>
      <div fxFlex="100">
        <label class="sr-only" for="inlineFormInputGroup">Password</label>
        <input type="password" class="form-control mb-2" id="inlineFormInput" placeholder="Password" [(ngModel)]="user.password" name="password">
      </div>
      <div>
        <button routerLink="/main" type="submit" class="btn btn-primary mb-2">Login</button>
      </div>
    </div>
  </form>
</section>

