<body>
<app-navbar></app-navbar>
<div class="container marketing">
  <div class="row">
    <div class="col-lg-4 text-center">
      <svg class="bd-placeholder-img rounded-circle" width="140" height="140">
        <image href="assets/vacations.jfif" height="140px" width="140px"/>
      </svg>
      <h2>Vacations</h2>
      <p>Check your vacations, holiday days left. Apply for vacations.</p>
      <p><a class="btn btn-secondary" routerLink="/vacation">View details »</a></p>
    </div>
    <div class="col-lg-4 text-center">
      <svg class="bd-placeholder-img rounded-circle" width="140" height="140">
        <image href="assets/delegations.jpg" height="140px" width="140px"/>
      </svg>
      <h2>Delegations</h2>
      <p>Check your delegations and its history and apply for them.</p>
      <p><a class="btn btn-secondary" routerLink="/delegations">View details »</a></p>
    </div>
    <div class="col-lg-4 text-center">
      <svg class="bd-placeholder-img rounded-circle" width="140" height="140">
        <image href="assets/salary.png" height="140px" width="140px"/>
      </svg>
      <h2>Salary and bonuses</h2>
      <p>Informations about your monthly and annually salary and bonuses.</p>
      <p><a class="btn btn-secondary" routerLink="/salarybonuses">View details »</a></p>
    </div>
  </div>
</div>
</body>
