<app-navbar></app-navbar>
<div class="container-fluid">
  <div class="row">
    <div class="col-4 text-center">
      <h1 class="m-4">Employees</h1>
      <table class="table table-striped">
        <tbody>
        <tr class="bg-dark text-white">
          <th class="left-align" scope="col">Full Name</th>
          <th class="left-align" scope="col">Email</th>
          <th class="left-align" scope="col">Administrator</th>
          <th scope="col"></th>
        </tr>
        <tr *ngFor="let employee of employees">
          <td class="left-align">{{employee.name}} {{employee.surname}}</td>
          <td class="left-align">{{employee.email}}</td>
          <td class="left-align">{{employee.administrator? "Yes":"No"}}</td>
          <td>
            <button style="margin-right: 2px;" (click)="updateEmployeeSalaryInfo(employee.id)" type="button" class="btn btn-sm btn-info">Show</button>
          </td>
        </tr>
        </tbody>
      </table>
    </div>
    <div class="col-8 text-center">
      <div class="row text-center">
        <h1 class="col-12 m-4">{{salaryData.name}} {{salaryData.surname}} information</h1>
      </div>
      <div class="row">
        <div class="col-6">
          <div class="card mb-4 rounded-3 shadow-sm">
            <div class="card-header py-3">
              <h4 class="my-0 fw-normal">Current salary</h4>
            </div>
            <div class="card-body">
              <h1 class="card-title pricing-card-title">{{salaryData.salary}} PLN</h1>
              <button (click)="showSalaryForm(currentSalary)" type="button" class="w-100 btn btn-warning btn-lg btn-primary mb-2">Edit this salary</button>
              <button (click)="showSalaryForm(null)" type="button" class="w-100 btn btn-success btn-lg btn-primary mb-2">Add new salary</button>
              <button (click)="changeSalaryHistoryVisibility()" *ngIf="salaryHistoryVisible; else elseBlock" type="button" class="w-100 btn btn-lg btn-primary">Hide salary history</button>
              <ng-template #elseBlock><button (click)="changeSalaryHistoryVisibility()" type="button" class="w-100 btn btn-lg btn-primary">Show salary history</button></ng-template>
            </div>
          </div>
          <app-admin-salaries-history *ngIf="salaryHistoryVisible"></app-admin-salaries-history>
        </div>
        <div class="col-6">
          <div class="card mb-4 rounded-3 shadow-sm">
            <div class="card-header py-3">
              <h4 class="my-0 fw-normal">Bonuses</h4>
            </div>
            <div class="card-body">
              <h1 class="card-title pricing-card-title">Annual bonus: {{salaryData.bonusesTotal}} PLN</h1>
              <h1 class="card-title pricing-card-title">Bonuses used: {{salaryData.bonusesUsed}} PLN</h1>
              <h1 class="card-title pricing-card-title">Percent: {{salaryData.percent}}%</h1>
              <button (click)="showBonusForm()" type="button" class="w-100 btn btn-success btn-lg btn-primary mb-2">Add new bonus</button>
              <button (click)="changeBonusesHistoryVisibility()" *ngIf="bonusesHistoryVisible; else elseBlock2" type="button" class="w-100 btn btn-lg btn-primary">Hide bonuses history</button>
              <ng-template #elseBlock2><button (click)="changeBonusesHistoryVisibility()" type="button" class="w-100 btn btn-lg btn-primary">Show bonuses history</button></ng-template>
            </div>
          </div>
          <app-admin-bonuses-history *ngIf="bonusesHistoryVisible"></app-admin-bonuses-history>
        </div>
      </div>
    </div>
  </div>
</div>
<app-admin-salary-form></app-admin-salary-form>
<app-admin-bonus-form></app-admin-bonus-form>
