/* You can add global styles to this file, and also import other style files */

html, body {
  height: 100%;
  background-image: url("assets/so-white.png");;
}

body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }

.left-align { text-align: left}

.right-align { text-align: right}

th {
  cursor: pointer;
}
