<body>
<app-navbar></app-navbar>
<div class="container marketing">
  <div class="row">
    <div class="col-lg-3 text-center">
      <h2>Vacations applications</h2>
      <p>Applications for vacations made by all employees, accept or reject them.</p>
      <p><a class="btn btn-secondary" routerLink="/admin/vacations">View details »</a></p>
    </div>
    <div class="col-lg-3 text-center">
      <h2>Delegations applications</h2>
      <p>Applications for delegations made by all employees, accept or reject them.</p>
      <p><a class="btn btn-secondary" routerLink="/admin/delegations">View details »</a></p>
    </div>
    <div class="col-lg-3 text-center">
      <h2>Employees</h2>
      <p>All employees in table view, edit information about them or add the new one.</p>
      <p><a class="btn btn-secondary" routerLink="/admin/employees">View details »</a></p>
    </div>
    <div class="col-lg-3 text-center">
      <h2>Salaries and bonuses</h2>
      <p>Check salary of every employee or set the new one. Add new bonus or check history.</p>
      <p><a class="btn btn-secondary" routerLink="/admin/salaries">View details »</a></p>
    </div>
    <div class="col-lg-3 text-center">
      <h2>Summary</h2>
      <p>Check most used date for delegation and most absent (in delegation meaning) employees.</p>
      <p><a class="btn btn-secondary" routerLink="/admin/summary">View details »</a></p>
    </div>
    <div class="col-lg-3 text-center">
      <h2>Contracts</h2>
      <p>All employees with their contracts.</p>
      <p><a class="btn btn-secondary" routerLink="/admin/contracts">View details »</a></p>
    </div>
  </div>
</div>
</body>
